.venv/pyvenv.cfg
.venv/Lib/site-packages/distutils-precedence.pth
.venv/Lib/site-packages/_distutils_hack/__init__.py
.venv/Lib/site-packages/_distutils_hack/override.py
.venv/Lib/site-packages/_distutils_hack/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/_distutils_hack/__pycache__/override.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/__init__.py
.venv/Lib/site-packages/pkg_resources/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/appdirs.py
.venv/Lib/site-packages/pkg_resources/_vendor/zipp.py
.venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/appdirs.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/zipp.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_adapters.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_common.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_compat.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_itertools.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/_legacy.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/abc.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/readers.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/simple.py
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_adapters.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_common.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_compat.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_itertools.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/_legacy.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/abc.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/readers.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/importlib_resources/__pycache__/simple.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/context.py
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/functools.py
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/__pycache__/context.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/__pycache__/functools.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/text/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/jaraco/text/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/more_itertools/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/more_itertools/more.py
.venv/Lib/site-packages/pkg_resources/_vendor/more_itertools/recipes.py
.venv/Lib/site-packages/pkg_resources/_vendor/more_itertools/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/more_itertools/__pycache__/more.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/more_itertools/__pycache__/recipes.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__about__.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/_manylinux.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/_musllinux.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/_structures.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/markers.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/requirements.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/specifiers.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/tags.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/utils.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/version.py
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/__about__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_manylinux.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_musllinux.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/_structures.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/markers.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/requirements.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/specifiers.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/tags.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/utils.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/version.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/actions.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/common.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/core.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/exceptions.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/helpers.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/results.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/testing.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/unicode.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/util.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/actions.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/common.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/core.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/exceptions.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/helpers.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/results.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/testing.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/unicode.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/__pycache__/util.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/diagram/__init__.py
.venv/Lib/site-packages/pkg_resources/_vendor/pyparsing/diagram/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/pkg_resources/extern/__init__.py
.venv/Lib/site-packages/pkg_resources/extern/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/setuptools/__init__.py
.venv/Lib/site-packages/setuptools/_deprecation_warning.py
.venv/Lib/site-packages/setuptools/_entry_points.py
.venv/Lib/site-packages/setuptools/_imp.py
.venv/Lib/site-packages/setuptools/_importlib.py
.venv/Lib/site-packages/setuptools/_itertools.py
.venv/Lib/site-packages/setuptools/_path.py
.venv/Lib/site-packages/setuptools/_reqs.py
.venv/Lib/site-packages/setuptools/archive_util.py
.venv/Lib/site-packages/setuptools/build_meta.py
.venv/Lib/site-packages/setuptools/cli-32.exe
.venv/Lib/site-packages/setuptools/cli-64.exe
.venv/Lib/site-packages/setuptools/cli-arm64.exe
.venv/Lib/site-packages/setuptools/cli.exe
.venv/Lib/site-packages/setuptools/dep_util.py
.venv/Lib/site-packages/setuptools/depends.py
.venv/Lib/site-packages/setuptools/discovery.py
.venv/Lib/site-packages/setuptools/dist.py
.venv/Lib/site-packages/setuptools/errors.py
.venv/Lib/site-packages/setuptools/extension.py
.venv/Lib/site-packages/setuptools/glob.py
.venv/Lib/site-packages/setuptools/gui-32.exe
.venv/Lib/site-packages/setuptools/gui-64.exe
.venv/Lib/site-packages/setuptools/gui-arm64.exe
.venv/Lib/site-packages/setuptools/gui.exe
.venv/Lib/site-packages/setuptools/installer.py
.venv/Lib/site-packages/setuptools/launch.py
.venv/Lib/site-packages/setuptools/logging.py
.venv/Lib/site-packages/setuptools/monkey.py
.venv/Lib/site-packages/setuptools/msvc.py
.venv/Lib/site-packages/setuptools/namespaces.py
.venv/Lib/site-packages/setuptools/package_index.py
.venv/Lib/site-packages/setuptools/py34compat.py
.venv/Lib/site-packages/setuptools/sandbox.py
.venv/Lib/site-packages/setuptools/script (dev).tmpl
.venv/Lib/site-packages/setuptools/script.tmpl
.venv/Lib/site-packages/setuptools/unicode_utils.py
.venv/Lib/site-packages/setuptools/version.py
.venv/Lib/site-packages/setuptools/wheel.py
.venv/Lib/site-packages/setuptools/windows_support.py
.venv/Lib/site-packages/setuptools/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/setuptools/__pycache__/_deprecation_warning.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__init__.py
.venv/Lib/site-packages/setuptools/_distutils/_collections.py
.venv/Lib/site-packages/setuptools/_distutils/_functools.py
.venv/Lib/site-packages/setuptools/_distutils/_macos_compat.py
.venv/Lib/site-packages/setuptools/_distutils/_msvccompiler.py
.venv/Lib/site-packages/setuptools/_distutils/archive_util.py
.venv/Lib/site-packages/setuptools/_distutils/bcppcompiler.py
.venv/Lib/site-packages/setuptools/_distutils/ccompiler.py
.venv/Lib/site-packages/setuptools/_distutils/cmd.py
.venv/Lib/site-packages/setuptools/_distutils/config.py
.venv/Lib/site-packages/setuptools/_distutils/core.py
.venv/Lib/site-packages/setuptools/_distutils/cygwinccompiler.py
.venv/Lib/site-packages/setuptools/_distutils/debug.py
.venv/Lib/site-packages/setuptools/_distutils/dep_util.py
.venv/Lib/site-packages/setuptools/_distutils/dir_util.py
.venv/Lib/site-packages/setuptools/_distutils/dist.py
.venv/Lib/site-packages/setuptools/_distutils/errors.py
.venv/Lib/site-packages/setuptools/_distutils/extension.py
.venv/Lib/site-packages/setuptools/_distutils/fancy_getopt.py
.venv/Lib/site-packages/setuptools/_distutils/file_util.py
.venv/Lib/site-packages/setuptools/_distutils/filelist.py
.venv/Lib/site-packages/setuptools/_distutils/log.py
.venv/Lib/site-packages/setuptools/_distutils/msvc9compiler.py
.venv/Lib/site-packages/setuptools/_distutils/msvccompiler.py
.venv/Lib/site-packages/setuptools/_distutils/py38compat.py
.venv/Lib/site-packages/setuptools/_distutils/py39compat.py
.venv/Lib/site-packages/setuptools/_distutils/spawn.py
.venv/Lib/site-packages/setuptools/_distutils/sysconfig.py
.venv/Lib/site-packages/setuptools/_distutils/text_file.py
.venv/Lib/site-packages/setuptools/_distutils/unixccompiler.py
.venv/Lib/site-packages/setuptools/_distutils/util.py
.venv/Lib/site-packages/setuptools/_distutils/version.py
.venv/Lib/site-packages/setuptools/_distutils/versionpredicate.py
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/_collections.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/_functools.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/_macos_compat.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/_msvccompiler.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/archive_util.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/bcppcompiler.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/ccompiler.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/__pycache__/cmd.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/command/__init__.py
.venv/Lib/site-packages/setuptools/_distutils/command/_framework_compat.py
.venv/Lib/site-packages/setuptools/_distutils/command/bdist_dumb.py
.venv/Lib/site-packages/setuptools/_distutils/command/bdist_rpm.py
.venv/Lib/site-packages/setuptools/_distutils/command/bdist.py
.venv/Lib/site-packages/setuptools/_distutils/command/build_clib.py
.venv/Lib/site-packages/setuptools/_distutils/command/build_ext.py
.venv/Lib/site-packages/setuptools/_distutils/command/build_py.py
.venv/Lib/site-packages/setuptools/_distutils/command/build_scripts.py
.venv/Lib/site-packages/setuptools/_distutils/command/build.py
.venv/Lib/site-packages/setuptools/_distutils/command/check.py
.venv/Lib/site-packages/setuptools/_distutils/command/clean.py
.venv/Lib/site-packages/setuptools/_distutils/command/config.py
.venv/Lib/site-packages/setuptools/_distutils/command/install_data.py
.venv/Lib/site-packages/setuptools/_distutils/command/install_egg_info.py
.venv/Lib/site-packages/setuptools/_distutils/command/install_headers.py
.venv/Lib/site-packages/setuptools/_distutils/command/install_lib.py
.venv/Lib/site-packages/setuptools/_distutils/command/install_scripts.py
.venv/Lib/site-packages/setuptools/_distutils/command/install.py
.venv/Lib/site-packages/setuptools/_distutils/command/py37compat.py
.venv/Lib/site-packages/setuptools/_distutils/command/register.py
.venv/Lib/site-packages/setuptools/_distutils/command/sdist.py
.venv/Lib/site-packages/setuptools/_distutils/command/upload.py
.venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/__init__.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/_framework_compat.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist_dumb.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist_rpm.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_distutils/command/__pycache__/bdist.cpython-311.pyc
.venv/Lib/site-packages/setuptools/_vendor/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/ordered_set.py
.venv/Lib/site-packages/setuptools/_vendor/typing_extensions.py
.venv/Lib/site-packages/setuptools/_vendor/zipp.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/_adapters.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/_collections.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/_compat.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/_functools.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/_itertools.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/_meta.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_metadata/_text.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/_adapters.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/_common.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/_compat.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/_itertools.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/_legacy.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/abc.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/readers.py
.venv/Lib/site-packages/setuptools/_vendor/importlib_resources/simple.py
.venv/Lib/site-packages/setuptools/_vendor/jaraco/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/jaraco/context.py
.venv/Lib/site-packages/setuptools/_vendor/jaraco/functools.py
.venv/Lib/site-packages/setuptools/_vendor/jaraco/text/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/more_itertools/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/more_itertools/more.py
.venv/Lib/site-packages/setuptools/_vendor/more_itertools/recipes.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/__about__.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/_manylinux.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/_musllinux.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/_structures.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/markers.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/requirements.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/specifiers.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/tags.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/utils.py
.venv/Lib/site-packages/setuptools/_vendor/packaging/version.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/actions.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/common.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/core.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/exceptions.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/helpers.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/results.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/testing.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/unicode.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/util.py
.venv/Lib/site-packages/setuptools/_vendor/pyparsing/diagram/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/tomli/__init__.py
.venv/Lib/site-packages/setuptools/_vendor/tomli/_parser.py
.venv/Lib/site-packages/setuptools/_vendor/tomli/_re.py
.venv/Lib/site-packages/setuptools/_vendor/tomli/_types.py
.venv/Lib/site-packages/setuptools/command/__init__.py
.venv/Lib/site-packages/setuptools/command/alias.py
.venv/Lib/site-packages/setuptools/command/bdist_egg.py
.venv/Lib/site-packages/setuptools/command/bdist_rpm.py
.venv/Lib/site-packages/setuptools/command/build_clib.py
.venv/Lib/site-packages/setuptools/command/build_ext.py
.venv/Lib/site-packages/setuptools/command/build_py.py
.venv/Lib/site-packages/setuptools/command/build.py
.venv/Lib/site-packages/setuptools/command/develop.py
.venv/Lib/site-packages/setuptools/command/dist_info.py
.venv/Lib/site-packages/setuptools/command/easy_install.py
.venv/Lib/site-packages/setuptools/command/editable_wheel.py
.venv/Lib/site-packages/setuptools/command/egg_info.py
.venv/Lib/site-packages/setuptools/command/install_egg_info.py
.venv/Lib/site-packages/setuptools/command/install_lib.py
.venv/Lib/site-packages/setuptools/command/install_scripts.py
.venv/Lib/site-packages/setuptools/command/install.py
.venv/Lib/site-packages/setuptools/command/launcher manifest.xml
.venv/Lib/site-packages/setuptools/command/py36compat.py
.venv/Lib/site-packages/setuptools/command/register.py
.venv/Lib/site-packages/setuptools/command/rotate.py
.venv/Lib/site-packages/setuptools/command/saveopts.py
.venv/Lib/site-packages/setuptools/command/sdist.py
.venv/Lib/site-packages/setuptools/command/setopt.py
.venv/Lib/site-packages/setuptools/command/test.py
.venv/Lib/site-packages/setuptools/command/upload_docs.py
.venv/Lib/site-packages/setuptools/command/upload.py
.venv/Lib/site-packages/setuptools/config/__init__.py
.venv/Lib/site-packages/setuptools/config/_apply_pyprojecttoml.py
.venv/Lib/site-packages/setuptools/config/expand.py
.venv/Lib/site-packages/setuptools/config/pyprojecttoml.py
.venv/Lib/site-packages/setuptools/config/setupcfg.py
.venv/Lib/site-packages/setuptools/config/_validate_pyproject/__init__.py
.venv/Lib/site-packages/setuptools/config/_validate_pyproject/error_reporting.py
.venv/Lib/site-packages/setuptools/config/_validate_pyproject/extra_validations.py
.venv/Lib/site-packages/setuptools/config/_validate_pyproject/fastjsonschema_exceptions.py
.venv/Lib/site-packages/setuptools/config/_validate_pyproject/fastjsonschema_validations.py
.venv/Lib/site-packages/setuptools/config/_validate_pyproject/formats.py
.venv/Lib/site-packages/setuptools/extern/__init__.py
.venv/Lib/site-packages/setuptools-65.5.0.dist-info/entry_points.txt
.venv/Lib/site-packages/setuptools-65.5.0.dist-info/LICENSE
.venv/Lib/site-packages/setuptools-65.5.0.dist-info/METADATA
.venv/Lib/site-packages/setuptools-65.5.0.dist-info/RECORD
.venv/Lib/site-packages/setuptools-65.5.0.dist-info/top_level.txt
.venv/Lib/site-packages/setuptools-65.5.0.dist-info/WHEEL
.venv/Scripts/python.exe
.venv/Scripts/pythonw.exe
